.board-row {
  display: flex;
  flex-direction: row;
}

.cell {
  margin: 1px;
  width: 30px;
  height: 30px;
}

.cell-empty {
  background-color: lightgray;
}
.cell-snake {
  background-color: chocolate;
  border-radius: 5px;
}

.cell-apple {
  background-color: red;
}
